.learn-heading{
    background-color: #32107A;
    color: #ffffff;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 500;
    padding: 10px 30px 10px;
}

.learn-last-heading{
    background-color: #32107A;
    color: #ffffff;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 500;
    padding: 10px 30px 10px;
}